/*Todos los Elementos*/
* {
	font-family: Verdana
}
/*Titulo*/
body > header > h1 {
	color: blue ; text-align:center
}
/*Imagen del header con ID:cabecera*/
header#cabecera > img {
	width:10%; 
	display: block;
	margin-left:auto;
	margin-right:auto;
}

/*Elementos con la Clase "elemento-menu"*/
.elemento-menu{
	display:inline;
	list-style-type:none;
}
/*Alinee al centro el elemento con el identificador “menu”*/
#menu {
	text-align:center;
}

/*Todas las etiquetas hijas que se encuentren en el footer, con identificador “footer”, se el
estilo un itálica*/
footer#footer{
	font-style:italic;
}

/*Alinee al centro el texto del footer, con identificador “footer”*/
footer#footer{
	text-align:center;
}

/*Dentro de aside, al primer hermano de h3 que sea h4, aplique*/
aside > h3 + h4 {
	font-style: italic;
	color:green;
}

/*Dentro de aside, a todos los elementos hermanos de h5 que sean p, aplique*/
aside h5 ~ p {
	font-size:8pt;
}
	
/*Dentro del aside, todos los h5, cuyo atributo title termine con “small” debe mostrarlos
subrayados*/
aside h5[title$="small"]{
	text-decoration: underline;
}


aside li[name="fork"] {
	list-style-image: url('https://goo.gl/y0yaro');
}

nav * :hover, ul * :hover, li * :hover{
	color:green;
}

p.descripcion::first-letter{
	font-size: 22pt;
	font-weight: bold;
}
section#left img{
	margin-left: auto;
	margin-right: auto;
	width: 15%
}

section#left {
	float:left;
	width:70%;
	
}
aside#right {
	float:right;
	width:25%;
}

footer#footer {
	clear:both;
}

section article footer {
	margin-left: auto;
	margin-right: auto;
}